<html>
  <head>
    <title>Line Art</title>
  </head>

<style>
body {
  background-color: #E6E6FA;
}
</style>

  <style>
.container {
  display: flex;
  align-items: center; 
 padding-left: 10px;
}
img{
  margin-left: 15px ;
  margin-right: 15px;
}
  </style>
  <body>
<H1>Mga Butang</h1>
    <div class="container">
      <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/BL1bag.png?" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/BL2balay.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/BL3balde.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/BL4basket.png?raw=true" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/BL5sinina.png?raw=true" height="350px"/> </div> 
     </div>

<H1>Mga Hayop</h1>
    <div class="container">
      <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/HL1iro.png?raw=true" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/HL2kanding.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/HL3langgam.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/HL4manok.png?raw=true" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/HL5pato.png?raw=true" height="350px"/> </div> 
     </div>

<H1>Mga Lugar</h1>
    <div class="container">
      <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/LL1.png?raw=true" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/LL2kubo.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/LL3simbahan.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/LL4ospital.png?raw=true" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/LL5tulay.png?raw=true" height="350px"/> </div> 
     </div>

<H1>Parte sa Lawas</h1>
    <div class="container">
      <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/PLL1dalunggan.png?raw=true" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/PLL2dila.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/PLL3ilong.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/PLL4mata.png?raw=true" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/PLL5kamot.png?raw=true" height="350px"/> </div> 
     </div>

<H1>Mga Pagkaon</h1>
    <div class="container">
      <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/PL1kalabasa.png?raw=true" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/PL2lugaw.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/PL3mais.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/PL4repolyo.png?raw=true" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/PL5talong.png?raw=true" height="350px"/> </div> 
     </div>

<H1>Mga Tanom</h1>
    <div class="container">
      <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/TL1buwak.png?raw=true" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/TL2dahon.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/TL3kahoy.png?raw=true" height="350px"/> </div> 
     <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/TL4liso.png?raw=true" height="350px"/> </div> 
      <div class="image"> <img src="https://github.com/ABDIS-CI/sample-website/blob/main/TL5sagbot.png?raw=true" height="350px"/> </div> 
     </div>

<h2> Illustrated by: Arzylette B. Magsayo-Documentation</h2>

  </body>
</html>
